.page-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title{
  font: 12pt;
}

.header{
  background-color: #363538;
  color: #f7fff6;
  height: 40px;
  text-align: left;
  padding: 10px;

  display: flex;
  flex-flow: row;
}