.list-view-container, .list-view-menu-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list-view-menu-container{
    margin-right: 10px;
}

.list-view-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.list-view-description{
    font-size: 10pt;
    color: lightgray;
}

.list-view-details-item{
    display:flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.list-view-details-name{
    font-size: 10pt;
    color: lightgray;
}

.list-view-details-data{

}

.list-view-menu-section{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    height: 48px;
    margin-right: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

.list-view-menu-item{
    height: 32px;
    width: 32px;
    padding: 3px;
    background-color: #E8EDED;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.list-view-menu-item:hover {
    background-color: #D4DADC;
}

.list-view-menu-item-icon{
    color: darkslategray;
}

.list-view-details{
    background-color: #ffffff;
    height: 60px;
    width:100%;
    margin: 10px;
}
