.locations-view-container{
    padding:10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: calc(75vh);
}

.locations-view-list-container{
}
  
.locations-view-grid-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}