.location-card{
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(100% - 1em);
    border: 1px solid lightgrey;
    margin-bottom: 10px;
}
  
.location-card-description{
    font-size: 10pt;
    overflow: hidden;
    max-height: 100px;
    flex: 3;
}
  
.location-card-name{
    font-weight: bold;
    cursor: pointer;
    flex: 1;
}
  
.location-card-image{
    width:100%;
    max-height:100px;
    flex: 2;
}

@media screen and (min-width: 700px) {
    .location-card {
        flex: 0 1 calc(50% - 1em);
    }
}
  
@media screen and (min-width: 1000px) {
    .location-card {
        flex: 0 1 calc(33% - 1em);
    }
}
  
@media screen and (min-width: 1200px) {
    .location-card {
        flex: 0 1 calc(25% - 1em);
    }
}
  
.location-card-bottom-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-top: 1px solid lightgray; 
    flex: 1; 
}

/*----------grid buttons----------*/

.location-card-buttons-container{
    display: flex;
    justify-content: space-around;
    width:100%;
    border-top: 1px solid lightgray;
}
  
.location-card-button{
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 12pt;
    flex: 1;
}
  
.location-card-button:after{
    border-left: 1px solid lightgray;
}