.locations-map-view{
    height:750px;
    width:100%;
}

.location-form-map-view{
    height:300px;
    width: 500px;
}

@media screen and (max-width: 700px) {
    .location-form-map-view{
        width: 250px;
    }
}