.search-result-container{
    display: flex;
    flex-direction: column;
}

.search-result-item{
    cursor: pointer;
    padding-left: 70px;
    height: 30px;
}

.search-result-item-error{
    color: red;
}