.search-result-container{
    display: flex;
    flex-direction: column;
}

.search-result-item{
    cursor: pointer;
    padding-left: 70px;
    height: 30px;
    display: flex;
    flex-direction: row;
}

.search-result-icon{
    margin-top: 5px;
    margin-right: 10px;
}

.search-result-error{
    color: red;
    padding-left: 70px;
}