.search-loading-indicator{
   position: relative;
   top: 5px;
   left: -40px;
   z-index: 999;
}

.search-loading-indicator-icon{
    -webkit-animation: rotation 2s infinite linear;
    -moz-animation: rotation 2s infinite linear; 
    animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
}
to {
        -webkit-transform: rotate(359deg);
}
}

@-moz-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
}
to {
        -webkit-transform: rotate(359deg);
}
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
}
to {
        -webkit-transform: rotate(359deg);
}
}