.location-rating-container{
    display: flex;
    justify-content: center;
    flex-flow: row-reverse;
    width: 100%;
}

.location-rating-star, 
.location-rating-star-selected{
    font-size: 20pt;
    cursor: pointer;
}
  
.location-rating-star:hover, 
.location-rating-star:hover ~ .location-rating-star, 
.location-rating-star-selected, 
.location-rating-star-selected-inactive {
    color: #f58a07;
}

.location-rating-star-inactive, 
.location-rating-star-selected-inactive{
    font-size: 20pt;
    cursor: default;
}