.welcome-page-container, .welcome-page-background{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 9999;
    margin-top: 60px;
    padding-bottom: 60px;
}

.welcome-page-background{
    background-image: url('../background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.welcome-page-content{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    padding: 15px;
    margin-top: 10vh;
    width: 50vw;
}

.welcome-page-text{
    text-align: start;
    font-size: 12pt;
}

.welcome-page-title{
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
}

.welcome-page-buttons{
    padding-top: 10px;
}